<div class="register-container">
    <h2>Register</h2>
    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
            <label for="name">Name</label>
            <input type="text" id="name" class="form-control" formControlName="name">
            <div *ngIf="registerForm.get('name')?.invalid && registerForm.get('name')?.touched" class="error">
                Name is required.
            </div>
        </div>
        <div class="form-group">
            <label for="email">Email</label>
            <input type="email" id="email" class="form-control" formControlName="email">
            <div *ngIf="registerForm.get('email')?.invalid && registerForm.get('email')?.touched" class="error">
                Valid email is required.
            </div>
        </div>
        <div class="form-group">
            <label for="username">User Name</label>
            <input type="text" id="username" class="form-control" formControlName="username">
            <div *ngIf="registerForm.get('username')?.invalid && registerForm.get('username')?.touched" class="error">
                Username is required and cannot contain spaces.
            </div>
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" id="password" class="form-control" formControlName="password">
            <div *ngIf="registerForm.get('password')?.invalid && registerForm.get('password')?.touched" class="error">
                Password must be at least 8 characters long, contain an uppercase letter, a lowercase letter, a number,
                and a special character.
            </div>
        </div>
        <div class="form-group">
            <label for="confirmPassword">Confirm Password</label>
            <input type="password" id="confirmPassword" class="form-control" formControlName="confirmPassword">
            <div *ngIf="registerForm.get('confirmPassword')?.invalid && registerForm.get('confirmPassword')?.touched"
                class="error">
                Confirm password is required.
            </div>
            <div *ngIf="registerForm.errors?.['matchPassword'] && registerForm.get('confirmPassword')?.touched"
                class="error">
                Passwords do not match.
            </div>
        </div>
        <button type="submit" class="btn btn-success" [disabled]="registerForm.invalid">Register</button>
    </form>
    <p>Already have an account? <a routerLink="/login">Login</a></p>
</div>